[Unit]
Description=sink starter systemd service unit file.

[Service]

# The command that should be run when starting this service.
ExecStart=sink-run

[Install]
WantedBy=multi-user.target