[Unit]
Description=sink starter systemd service unit file.

[Service]

# The command that should be run when starting this service.
ExecStart=/bin/bash /home/pi/is-iot-sink/is_iot_sink/main.py

[Install]
WantedBy=multi-user.target