[Unit]
Description=sink starter systemd service unit file.

[Service]

# The command that should be run when starting this service.
ExecStart=python /usr/local/bin/startup.sh

[Install]
WantedBy=multi-user.target